@import "../common/variables.scss";

.#{$ns}-sidebar-group {
  &.#{$ns}-justify-top {
    order: 0;
    top: 0;
  }
  &.#{$ns}-justify-bottom {
    order: 2;
    bottom: 0;
  }
  &.#{$ns}-justify-center {
    order: 1;
  }
}

.#{$ns}-sidebar {
  z-index: 1;
}

.#{$ns}-sidebar-item {
  cursor: default !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  .#{$ns}-button {
    pointer-events: none;
    user-select: none;
  }
  .bp3-popover-target {
    pointer-events: none;
    user-select: none;
  }
}

.#{$ns}-sidebar-divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  hr {
    width: 20pt;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-width: 0px 0px 1px 0px;
  }
}
