$mpd-neon-teal-dark: rgba(45, 246, 149, 0.35) !default;
$mpd-neon-teal-bright: rgba(45, 246, 149, 1) !default;

$mpd-neon-yellow-dark: rgba(255, 200, 46, 0.35) !default;
$mpd-neon-yellow-bright: rgba(255, 200, 46, 1) !default;

$mpd-neon-orange-dark: rgba(255, 100, 47, 0.35) !default;
$mpd-neon-orange-bright: rgba(255, 100, 47, 1) !default;

$mpd-error: #ff5252 !default;

$mpd-light-white: rgba(255, 255, 255, 0.5);
$mpd-medium-white: rgba(255, 255, 255, 0.75);
$mpd-dark-white: rgba(255, 255, 255, 0.85);

$sidebar-dark-navy: rgba(4, 28, 51, 1) !default;
$sidebar-dark: rgba(0, 0, 0, 0.25) !default;
