@import "../common/variables";

.notifly-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.notifly-error-title {
    color: $error;
    font-size: 25px;
    font-weight: 600;
    font-family: $font-family;
}