@import "../common/variables";

.settings-title {
    font-family: $font-family;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: solid 2px rgba(0,0,0,0.15);
    padding-bottom: 15px;
    user-select: none;
    white-space: nowrap;
}