.left-panel-container {
    transition: min-width 0.3s;
    width: 0;
    &.mpd-collapsed {
      min-width: 0px;
    }
}

.left-panel-overlay {
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: 1000;
    &.mpd-active {
      display: initial;
    }
}

@media (max-width: 480px) {
    .left-panel-container {
      width: 100%;
    }
}

@supports (-webkit-overflow-scrolling: touch) {
  // @media (max-width: 480px) {
  .left-panel-container {
    min-width: initial !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: fixed !important;
    transition: left 0.15s ease;
    &.sidebar-mpd-active {
        left: 260px;
        transition: left 0.15s ease;
    }
  }
}