@import "../common/variables";

.bread-crumbs-bread-crumb-container {
    display: flex;
    align-items: center;
}

.bread-crumbs-button {
    padding: 0px 10px !important;
    .mpd-button-text {
        font-family: $font-family;
        font-size: 16px;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.5);
    }
    &.mpd-active {
        pointer-events: none;
        .mpd-button-text { 
            color: #000000;
        }   
    }
}

.bread-crumbs {
    display: flex;
    align-items: center;
}

.bread-crumbs-divider {
    font-family: $font-family;
    font-size: 16px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    user-select: none;
}