@import "../common/variables";

.duo-button-container {
  .bp3-button {
    border-radius: 4px;
    margin: 0px 7px;
    min-width: 96px;
    min-height: 30px;
    .mpd-button-text {
      color: white;
      text-transform: uppercase;
      font-size: 9px;
      font-family: $font-family;
      font-weight: 700;
    }
  }
  .bp3-button:first-child {
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
    background-color: #ffffff !important;
    .mpd-button-text {
      color: black !important;
    }
  }
  .bp3-button:last-child {
    background-color: #1f76ff !important;
    margin-right: 0;
  }
}