@import "colors.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:bold,italic,100,200,300,400,500,600,700,800:');

$SIDEBAR: "sidebar" !default;
$ALERTS: "alerts" !default;
$ALERTS_CONTENT: "alerts-content" !default;
$ALERTS_COMPOSE: "alerts-compose" !default;
$ALERTS_NAVBAR: "alerts-navbar" !default;
$PORTAL_SIDEBAR: "portal-sidebar" !default;

$font-family: "Open Sans", sans-serif;
