@import "../common/variables";


.styled-tabs {
    position: relative;
    hr {
        display: none;
    }
    &.default-blue {
        .bp3-tab-list {
            overflow: none;
            min-width: 415px;
            transform: translateZ(0);
            z-index: 1;
            background: #fcfcfc;
            opacity: 1;
            margin-top: -1px;
            .bp3-tab {
                user-select: none;
                text-transform: uppercase;
                color: $light-black;
                opacity: 0.75;
                padding-top: 12px;
                padding-bottom: 12px;
                flex: 1;
                margin: 0;
                font-size: 12px;
                font-family: $font-family;
                font-weight: 700;
                text-align: center;
                outline: none;
                border-width: 0px 0px 1px 0px;
                border-style: solid;
                border-color: rgba(0, 0, 0, 0.15);
                &:last-child {
                padding-right: 10px;
                text-indent: 10px;
                }
            }
            .bp3-tab:not([aria-disabled="true"]):hover:not([aria-selected="true"]) {
                color: #1f76ff;
            }
            .bp3-tab[aria-selected="true"] {
                opacity: 1;
                padding-bottom: 10px;
                border-width: 0px 0px 3px 0px;
                color: black;
                border-color: #1f76ff;
            }
            .bp3-tab-indicator-wrapper {
                display: none;
            }
        }
    }

    &.free-blue {
        hr {
            position: absolute;
            width: 100%;
            padding: 0;
            margin: 0;
            z-index: -1;
            border-bottom: solid 0px rgba(0,0,0,.15);
            border-width: 0px 0px 1px 0px;
            display: initial;
        }
        .bp3-tab-list {
            overflow: none;
            min-width: 415px;
            transform: translateZ(0);
            z-index: 1;
            background: #fcfcfc;        
            opacity: 1;
            margin-top: -1px;
            .bp3-tab {
                user-select: none;
                text-transform: uppercase;
                color: $light-black;
                opacity: 0.75;
                padding-top: 12px;
                padding-bottom: 12px;
                padding: 10px 30px;
                margin: 0;
                font-size: 12px;
                font-family: $font-family;
                font-weight: 700;
                text-align: center;
                outline: none;
                border-width: 0px 0px 1px 0px;
                border-style: solid;
                border-color: rgba(0, 0, 0, 0.15);
                &:last-child {
                padding-right: 10px;
                text-indent: 10px;
                }
            }
            .bp3-tab:not([aria-disabled="true"]):hover:not([aria-selected="true"]) {
                color: #1f76ff;
            }
            .bp3-tab[aria-selected="true"] {
                opacity: 1;
                padding-bottom: 10px;
                border-width: 0px 0px 3px 0px;
                color: black;
                border-color: #1f76ff;
            }
            .bp3-tab-indicator-wrapper {
                display: none;
            }
        }
    }
}