@import "../common/variables";

.toggle-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .closebutton {
    display: none;
  }
  .label {
    padding: 0px 10px;
    color: black;
    white-space: nowrap;
    user-select: none;
    font-size: 16px;
    font-family: $font-family;
    font-weight: 700;
  }
}

@media (max-width: 480px) {
  .toggle-buttons-container {
    .closebutton {
      display: initial;
    }
    .togglebutton {
      display: none;
    }
  }
}
