@import url("https://fonts.googleapis.com/css?family=Open+Sans:bold,italic,100,200,300,400,500,600,700,800:");
@import url(../../../../node_modules/react-big-calendar/lib/css/react-big-calendar.css);
.user-schedule {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .user-schedule .tool-bar {
    background: #22c488 !important; }

.user-schedule-choose-schedule {
  width: 130px; }
  .user-schedule-choose-schedule .mpd-select-label {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #394d61; }
  .user-schedule-choose-schedule .mpd-select {
    background: white;
    border: none; }
  .user-schedule-choose-schedule .mpd-select-arrow-icon {
    right: 10px; }

.user-schedule-inner-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative; }
  .user-schedule-inner-container .rbc-toolbar {
    user-select: none;
    margin: 0;
    padding: 10px;
    flex-wrap: initial; }
    .user-schedule-inner-container .rbc-toolbar button {
      outline: none; }
    .user-schedule-inner-container .rbc-toolbar .rbc-toolbar-label {
      margin-left: 90px;
      color: #394d61;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 700; }
  .user-schedule-inner-container .rbc-time-view {
    cursor: row-resize; }
  .user-schedule-inner-container .rbc-allday-cell {
    display: none; }
  .user-schedule-inner-container .rbc-time-content {
    border: none; }
  .user-schedule-inner-container .rbc-time-header-gutter {
    border-bottom: solid 1px #DDD; }
  .user-schedule-inner-container .rbc-today {
    background: #dfffe0; }
  .user-schedule-inner-container .rbc-events-container {
    margin-right: 0 !important; }
  .user-schedule-inner-container .rbc-btn-group button {
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #394d61; }
  .user-schedule-inner-container .rbc-btn-group button:first-child {
    border-radius: 5px 0 0 5px !important; }
  .user-schedule-inner-container .rbc-btn-group:first-child button:first-child {
    display: none; }
  .user-schedule-inner-container .rbc-btn-group:first-child button:nth-child(2) {
    border-radius: 5px 0 0 5px !important; }
  .user-schedule-inner-container .rbc-current-time-indicator {
    background-color: #384d62;
    height: 2px; }
  .user-schedule-inner-container .rbc-time-header-content .rbc-header {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #394d61; }
  .user-schedule-inner-container .rbc-timeslot-group .rbc-time-slot {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #394d61; }
    .user-schedule-inner-container .rbc-timeslot-group .rbc-time-slot.max-date {
      background: whitesmoke; }
  .user-schedule-inner-container .rbc-event {
    background: #22c488;
    border-color: #394d61;
    display: flex;
    flex-direction: column;
    padding: 5px;
    cursor: default; }
    .user-schedule-inner-container .rbc-event .rbc-event-label {
      font-family: "Open Sans", sans-serif; }
    .user-schedule-inner-container .rbc-event .rbc-event-content {
      text-transform: uppercase;
      padding-top: 5px;
      flex: initial;
      height: initial;
      font-weight: 700;
      font-family: "Open Sans", sans-serif; }
    .user-schedule-inner-container .rbc-event .rbc-event-label {
      margin-top: 10px; }
    .user-schedule-inner-container .rbc-event .rbc-event-description {
      text-transform: capitalize;
      flex: 1;
      padding: 15px 0px 10px 0;
      width: 100%;
      text-align: center;
      font-size: 95%;
      font-family: "Open Sans", sans-serif;
      word-wrap: break-word; }
    .user-schedule-inner-container .rbc-event .rbc-event-remove {
      margin-left: 10px !important;
      background: url("../assets/close.png") no-repeat; }
    .user-schedule-inner-container .rbc-event .rbc-event-edit {
      background: url("../assets/pencil.png") no-repeat; }
    .user-schedule-inner-container .rbc-event .rbc-event-action-container {
      display: flex;
      width: 100%;
      justify-content: flex-end; }
    .user-schedule-inner-container .rbc-event .rbc-event-remove, .user-schedule-inner-container .rbc-event .rbc-event-edit {
      background-size: 12px 12px;
      width: 12px;
      height: 12px;
      text-indent: -9999px;
      padding: 0;
      margin: 0; }
    .user-schedule-inner-container .rbc-event button {
      align-self: flex-end;
      background: none;
      border: none;
      color: white;
      margin-bottom: 10px;
      margin-right: -5px;
      font-size: 12px;
      outline: none;
      cursor: pointer; }
    .user-schedule-inner-container .rbc-event.block-event {
      background: #b1abab;
      border-color: #394d61; }
      .user-schedule-inner-container .rbc-event.block-event .rbc-event-edit {
        display: none; }
    .user-schedule-inner-container .rbc-event.rbc-selected {
      background-color: #ffbf30; }

.user-schedule-alert-input-fixed {
  white-space: nowrap;
  height: 30px;
  display: flex;
  align-items: center;
  border: solid 1px #22c488;
  border-width: 0 0 1px 0;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
  font-family: "Open Sans", sans-serif; }

.user-schedule-alert-input-label {
  font-size: 13px;
  font-weight: 600;
  color: #22c488;
  font-family: "Open Sans", sans-serif; }

.user-schedule-alert-input-container {
  display: flex;
  border-bottom-width: 1px;
  height: 30px; }
  .user-schedule-alert-input-container input {
    padding-left: 3px;
    padding-top: 1px;
    border-color: #22c488 !important; }
  .user-schedule-alert-input-container .mpd-floating-input-label {
    top: -10px;
    color: #22c488 !important; }
  .user-schedule-alert-input-container .floating-input-container {
    padding-top: 0; }

.user-schedule-alert-input {
  flex: 1; }

.rbc-time-slot.test {
  background: grey; }

.user-schedule-actions-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 100px;
  top: 10px; }

.user-schedule-actions {
  display: flex;
  align-items: center;
  user-select: none; }

.user-schedule-actions-title {
  margin-right: 20px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700; }

.user-schedule-actions-select .mpd-select-options {
  z-index: 100; }
.user-schedule-actions-select .mpd-select {
  width: 100px; }
.user-schedule-actions-select .mpd-select-arrow-icon {
  right: 8px; }

.user-schedule-action-save, .user-schedule-action-delete {
  margin-left: 10px; }
  .user-schedule-action-save.disabled, .user-schedule-action-delete.disabled {
    pointer-events: none;
    background: #c1bfbf !important; }

.user-schedule-alert-title {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  user-select: none; }

.user-schedule-alert-details-labels, .user-schedule-alert-details {
  display: flex;
  flex-direction: column; }

.user-schedule-alert-details-labels {
  margin-right: 25px; }

.user-schedule-alert-label {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #22c488;
  flex: 1;
  padding: 10px 0;
  user-select: none; }

.user-schedule-alert-detail {
  color: #000;
  flex: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  user-select: none;
  padding: 10px 0; }

.user-schedule-title {
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  user-select: none; }

.user-schedule-alert-details-container {
  display: flex;
  padding-top: 20px; }

.user-schedule-alert-input {
  padding-top: 20px; }
  .user-schedule-alert-input .mpd-floating-input-label {
    z-index: 1; }
  .user-schedule-alert-input .mpd-floating-input-counter {
    color: #22c488;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500; }

@media (max-width: 480px) {
  .user-schedule-actions-container {
    position: initial;
    padding: 15px 10px 0 10px; }

  .user-schedule-actions, .user-schedule-actions-select {
    width: 100%; }
    .user-schedule-actions .mpd-select, .user-schedule-actions-select .mpd-select {
      width: 100%;
      justify-content: center; }
    .user-schedule-actions .mpd-select-option, .user-schedule-actions-select .mpd-select-option {
      text-align: center; }

  .user-schedule .tool-bar {
    display: flex;
    justify-content: space-between; }
  .user-schedule .rbc-toolbar {
    padding: 15px 10px;
    display: flex; }
    .user-schedule .rbc-toolbar .rbc-toolbar-label {
      font-size: 12px;
      margin-left: 0; }

  .user-schedule-title {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
