$sidebar-dark: rgba(0, 0, 0, 0.25) !default;
$sidebar-color: #003554 !default;
$sidebar-selected: rgba(31, 118, 255, 0.3) !default;

$signin-button: #1f76ff;
$signin-wrapper-color: rgba(22, 24, 25, 0);
$signin-form-color: #003554;
$signin-form-text: white;

$error: #ff7070 !default;

$light-black: rgba(0, 0, 0, 0.5);
$medium-black: rgba(0, 0, 0, 0.75);

$public-color: #c5dcff;

$private-color: #c3c3c3;

$light-white: rgba(255, 255, 255, 0.5);
$medium-white: rgba(255, 255, 255, 0.75);
$dark-white: rgba(255, 255, 255, 0.85);

$neon-minor-dark: #17c769 !default;
$neon-minor-bright: #00dcb0 !default;

$neon-moderate-dark: #f7da00 !default;
$neon-moderate-bright: #fde700 !default;

$neon-extreme-dark: #b01429 !default;
$neon-extreme-bright: #e26c69 !default;

$neon-severe-dark: #fa9d07 !default;
$neon-severe-bright: #ffcd00 !default;
