@import "../common/variables";

.settings-items-container {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    user-select: none;
}

.settings-items-heading {
    font-family: $font-family;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.46px;
    margin-bottom: 15px;
}

.settings-item {
    color: rgba(0, 0, 0, 0.5);
    font-family: $font-family;
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
    cursor: pointer;
}

.settings-items-inner-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 35px;
    hr {
        left: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        margin: 0;
        position: absolute;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.15);
        border-width: 0px 2px 0px 0px;
    }
    &.mpd-active {
        hr {
            border-color: #1f76ff;
        }
        .settings-item {
            color: #1f76ff;
        }
    }
}

@media (max-width: 480px) {
    .settings-items-heading {
        text-align: center;
    }
    .settings-items-inner-container {
        justify-content: center;
        hr {
            display: none;
        }
        .settings-item {
            margin-left: 0;
        }
    }
}