.styled-dateinput-container {
    position: relative;
    display: flex;
    align-items: center;
    &.with-icons {
        .styled-dateinput {
            width: 175px;
        }
    }
}

.styled-dateinput {
    input {
        padding: 0 40px;
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0.25);
    }
}

.styled-dateinput-left-icon {
    position: absolute;
    left: 10px;
    z-index: 1;
}

.styled-dateinput-right-icon {
    position: absolute;
    right: 10px;
    z-index: 1;
}