@import "../common/variables";

.container-empty {
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
    .title {
        padding: 5px;
        margin-top: 15px;
        font-family: $font-family;
        font-size: 19px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .subtitle {
        padding: 5px 30px;
        font-family: $font-family;
        font-size: 17px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
    }
}