@import "../common/variables";
    
.settings-control-property {
    display: flex;
    align-items: center;
    border: solid 1px rgba(0, 0, 0, 0.15);
    border-width: 0px 0px 1px 0px;
    user-select: none;
}

.settings-control-property-wrapper {
    flex: 1;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.settings-control-property-title {
    white-space: nowrap;
    width: 170px;
    color: #000000;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 600;
}

.settings-control-property-sub-title {
    color: rgba(0, 0, 0, 0.5);
    font-family: $font-family;
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
    padding-left: 3px;
}

